<script type="text/javascript">
	
//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(function () {
	// body...

	$(".next").click(function(){
		check_user_profiel();
		
		if(animating) return false;
		animating = true;
		
		current_fs = $(this).parent();
		next_fs = $(this).parent().next();
		
		//activate next step on progressbar using the index of next_fs
		$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
		
		//show the next fieldset
		next_fs.show(); 
		//hide the current fieldset with style
		current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
				//as the opacity of current_fs reduces to 0 - stored in "now"
				//1. scale current_fs down to 80%
				scale = 1 - (1 - now) * 0.2;
				//2. bring next_fs from the right(50%)
				left = (now * 50)+"%";
				//3. increase opacity of next_fs to 1 as it moves in
				opacity = 1 - now;
				current_fs.css({
	        'transform': 'scale('+scale+')',
	        'position': 'absolute'
	      });
				next_fs.css({'left': left, 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
				current_fs.hide();
				animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
		});
	});

	$(".previous").click(function(){
		if(animating) return false;
		animating = true;
		
		current_fs = $(this).parent();
		previous_fs = $(this).parent().prev();
		
		//de-activate current step on progressbar
		$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
		
		//show the previous fieldset
		previous_fs.show(); 
		//hide the current fieldset with style
		current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
				//as the opacity of current_fs reduces to 0 - stored in "now"
				//1. scale previous_fs from 80% to 100%
				scale = 0.8 + (1 - now) * 0.2;
				//2. take current_fs to the right(50%) - from 0%
				left = ((1-now) * 50)+"%";
				//3. increase opacity of previous_fs to 1 as it moves in
				opacity = 1 - now;
				current_fs.css({'left': left});
				previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
				current_fs.hide();
				animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
		});
	});

	/*$(".submit").click(function(){
		return false;
	});*/

});

var check_user_profiel = function (){
	if($("#user_profile").val() == "1"){
			$("#client_extra").hide();
		}
	else{
		$("#client_extra").show();			
	}
}
</script>
<!-- multistep form -->
<%= form_tag(login_create_path, method: 'post', :id => "msform") do %>

  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Datos Generales</li>
    <li>Datos Personales</li>
    <li>Datos de la Cuenta</li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Datos Generales</h2>
    <h3 class="fs-subtitle">Paso 1</h3>
    <div class="row">
	  		<div class="input-group">  			
		  		<%= content_tag(:span, "Nombres: " , :class => "input-group-addon") %>
				<%= text_field_tag(:name, "", {:class => "form-control"}) %>
  			</div>
		  	<div class="input-group">
		  		<%= content_tag(:span, "Apellido Paterno: " , :class => "input-group-addon") %>
		  		<%= text_field_tag(:surname, "",{:class => "form-control"}) %>
		    </div>
		  	<div class="input-group">
		  		<%= content_tag(:span, "Apellido Materno: " , :class => "input-group-addon") %>
		  		<%= text_field_tag(:maternal_surname, "",{:class => "form-control"}) %>
		    </div>
		  	<div class="input-group">
		  		<%= content_tag(:span, "Deseo: " , :class => "input-group-addon") %>
				<%= select_tag(:user_profile, options_for_select([["Anunciar un estacionamiento", "1"],["Alquilar un estacionamiento", "2"]]), {:class => "form-control"}) %>
		    </div>
  	</div>  	
    <input type="button" name="next" class="next action-button" value="Siguiente" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Datos Personales</h2>
    <h3 class="fs-subtitle">Paso 2</h3>
		<div class="input-group">
	  		<%= content_tag(:span, "Sexo: " , :class => "input-group-addon mb-3") %>
			
		</div>

		<div class="input-group"> 			
	  		<%= content_tag(:span, "Tipo de Documento: " , :class => "input-group-addon") %>
			<%= select_tag(:document_type, options_for_select([["DNI", "1"],["PASAPORTE", "2"],["CARNET DE EXTRANJERÍA", "3"]]), {:class => "form-control"}) %>
			</div>
	  	<div class="input-group">
	  		<%= content_tag(:span, "N° de documento: " , :class => "input-group-addon") %>
	  		<%= text_field_tag(:document_number, "",{:class => "form-control"}) %>
	    </div>
	    <div id="client_extra" style="display: none;">
		  	<div class="input-group">
		  		<%= content_tag(:span, "Dirección: " , :class => "input-group-addon") %>
		  		<%= text_field_tag(:address, "",{:class => "form-control"}) %>
		    </div>
		  	<div class="input-group">
		  		<%= content_tag(:span, "Distrito: " , :class => "input-group-addon") %>
		  		<%= select_tag(:district, options_for_select([["LIMA-LIMA-LIMA", "150101"],["LIMA-LIMA-LA VICTORIA", "150202"],["LIMA-LIMA-INDEPENDENCIA", "150303"]]), {:class => "form-control"}) %>
		    </div>	    	
	    </div>
	  	<div class="input-group">
	  		<%= content_tag(:span, "N° de Celular: " , :class => "input-group-addon") %>
	  		<%= text_field_tag(:mobile_number, "",{:class => "form-control"}) %>
	    </div>
	  	<div class="input-group">
	  		<%= content_tag(:span, "Fecha de nacimiento: " , :class => "input-group-addon") %>
	  		<%= date_field_tag(:birthdate, nil, {:class => "form-control"}) %>	  		
	    </div>
    <input type="button" name="previous" class="previous action-button" value="Retroceder" />
    <input type="button" name="next" class="next action-button" value="Siguiente" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Datos de la cuenta</h2>
    <h3 class="fs-subtitle">Paso 3</h3>
  	<div class="input-group">
  		<%= content_tag(:span, "Correo: " , :class => "input-group-addon") %>
  		<%= text_field_tag(:email, "",{:class => "form-control"}) %>
    </div>
  	<div class="input-group">
  		<%= content_tag(:span, "Confirmar Correo: " , :class => "input-group-addon") %>
  		<%= text_field_tag(:email_confirm, "",{:class => "form-control"}) %>
    </div>
  	<div class="input-group">
  		<%= content_tag(:span, "Contraseña: " , :class => "input-group-addon") %>
  		<%= text_field_tag(:password, "",{:class => "form-control"}) %>
    </div>
  	<div class="input-group">
  		<%= content_tag(:span, "Confirmar Contraseña: " , :class => "input-group-addon") %>
  		<%= text_field_tag(:password_confirm, "",{:class => "form-control"}) %>
    </div>
  	<div class="input-group">
  		<%= content_tag(:span, "Tipo de Usuario: " , :class => "input-group-addon") %>
  		<%= select_tag(:user_type, options_for_select([["PREMIUM", "1"],["VIP", "2"],["REGULAR", "3"]]), {:class => "form-control"}) %>
    </div>
    <input type="button" name="previous" class="previous action-button" value="Retroceder" />
    <input type="submit" name="submit" class="submit action-button" value="Enviar" />
  </fieldset>
<% end %>